body {
	background-color:#262626;
	font-family:"Raleway";
}

.input {
	background-color:#FFDFE7;
}

#cardRow .card {
	/*background-color:#eae1ef;*/
	background-color: #FFDFE7;
	height:250px;
	width:250px;
	margin:10px;
	display:inline-block;
	overflow:hidden;
	border: 2px solid transparent;

}

#cardRow .card:hover {
	border:2px solid #eee;
	/*box-shadow: 0px 0px 6px 1px #00CCCC;*/
}

.card h3 {

}

#wordInput {
	clear: both;
	display: block;
	margin: 0 auto;
}

#defInput {
	display: block;
	clear: both;
	width: 300px;
	margin: 0 auto;
	margin-top: 8px;
}

#formButton {
	margin: 0 auto;
	display:block;
	margin-top:8px;
	background-color:#FFDFE7;
	border:1px solid black;
}

#inputDiv {
	  text-align:center;
}

#inputDiv h1 {
	/*rgb(51, 51, 51);*/
  color:rgb(51, 51, 51);
  background-color:#A4A4A4;
  border-radius:3px;
  margin: 0 auto;
  display: block;
  width: 220px;
  margin-top:30px;
  margin-bottom:20px;
}

.xDelete {
	cursor:default;
	margin:0;
	padding:0;
	position:relative;
	float:right;
	left: 10px;
	color:#ce7d7d;

}

.xDelete:hover {
	font-size: 120%;
	color:red;
}

#error {
	display:block;
	color:red;
	height:16px;
	width:300px;
	margin:0 auto;
}